.header {
    display: flex;
    height: 65px;
    width: 100%;
    background-color: rgb(201, 201, 206);
    justify-content: space-between;
    align-content: center;
}

.headerTitle {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
}

.titleSpan {
    color: red;
}

.titleRight {
    padding-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navItem {
    padding: 10px;
}

.modalTitle {
    color: rgb(93, 107, 236);
    text-align: center;
}

.login {
    margin: auto;
    justify-content: center;
}

.modalDesc {
    padding-top: 5px;
    height: 60%;
}

.modalGroupButton {
    height: 100%;
    width: 100%;
}

.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: 24px;
    display: flex;
    flex-direction: column;
}

.modalIcon {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

.buttonWC {
    width: 50%;
    height: 100%;
}

.buttonMT {
    width: 50%;
    height: 100%;
}

.buttonCancel {
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
}